code/build/CMakeFiles
code/build/cmake_install.cmake
code/build/CMakeCache.txt
code/build/Makefile
code/build/sir
*.exe
*.o
code/Makefile.win
results
code/random.o
code/rede.o
code/SIR.exe
code/sir.o
code/SIR.layout
